# Google App Engine generated folder
appengine-generated/
# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS resource forks
._*

# macOS folder attributes
.Spotlight-V100
.Trashes

# -- IGNORE --
songs/
videos/
necessary_links.txt
images/1.jpg
images/9.jpg
images/10.jpg
images/11.jpg
images/13.jpg
images/14.jpg
images/15.jpg